body {
background-image: radial-gradient(#d6d4c1, #b8be9c);
font-family: 'Questrial', sans-serif;
}

img {
width: auto;
max-width: 100%;
height: auto;
margin-left: auto;
margin-right: auto;
}

.container {
    position: relative;
    text-align: center;
    color: black;
    width: 20rem;
}

/* resize images */
.container img {
    width: 100%;
    height: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.pagecontainer {
  margin: auto;
  width: 90vw;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  align-items: center;
}

header {
  height:100%;
  background-size: 100%;
  margin-left:auto;
  margin-right:auto;
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;
  font-family: 'Sacramento', cursive;
}

h1 {
  background-color: rgba(255,255,255,0);
    text-shadow: 1px 1px 2px #e6d6e2;
    font-size: 2em;
    font-style: none;
    font-color: #000;
}

/*Unordered list in the navbar is set to display flex with wrapping
so at smaller size-mobile width--it wraps vertically in a row
and at larger screen widths it spreads more horizontally.
And justify-content centers flex blox content*/
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-top: .5rem;
  padding-bottom: 1rem;
  padding-right: 4rem;
}
/*Sets background color of nav list elements and their width and height*/
nav ul li {
  text-transform: uppercase;
  font-size: 1.5em;
  height: 2rem;
  width: 12rem;
  padding-top: .5rem;
  text-align: center;
}
/*Takes away the default underlining of links and sets color of menu font*/
nav ul li a {
  text-decoration: none;
  color: #000;
  font-style: normal;
  color: black;

}
/*Active psuedoclass is used so When you click on a menu item it turns orange.*/
nav ul li:active {
  background: #f37078;
}
/*This class should be applied to html differently on each page to let user know
which page you are on--in this case the home page*/
.locationmarker {
  font-weight: bold;
}
